@tailwind base;
@tailwind components;
@tailwind utilities;
.rotate-y-180 {
          transform: rotateY(180deg);
        }
        .backface-hidden {
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
        }
        [transform-style='preserve-3d'] {
          transform-style: preserve-3d;
          -webkit-transform-style: preserve-3d;
        }
        [perspective='1000px'] {
          perspective: 1000px;
        }